<!DOCTYPE html>
<html>
    <head lang="ja">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="style/Home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="style/horizon.js"></script>
        <script type="text/javascript" src="style/Audio.js"></script>
        <script type="text/javascript" src="style/Anker.js"></script>
    </head>

    <body>
        <div id="horizon"></div>
        <section id="page1">
            <a href="specialthanks.html"><p id="title">Hello My World</p></a>
            <p id="circle"></p>
            <a href="#page4" class="btn"><p id="contact">Contact</p></a>
            <a href="#page3" class="btn"><p id="works">Works</p></a>
            <a href="#page2" class="btn"><p id="whoami">Who Am I</p></a>
            <div class="audio_wrap">
                <div class="audio_button"></div>
                <audio id="audio" src="bgm/n58.mp3" loop>
                  あなたのブラウザーは <code>audio</code> 要素をサポートしていません。
                </audio>
            </div>
        </section>
        <section id="page2">
            <div class="wave">
                <hr width=100% noshade="">
                <p class="title">Who Am I</p>
                <p class="introduce">Yoshie Suzuki<br>鈴木　嘉恵<br><br>学歴<br>森村学園高等部卒業<br>早稲田大学基幹理工学部情報理工学科<br><br>所属サークル<br></p>
            </div>
        </section>

        <section id="page3">
            <div class="wave">
                <hr width=100% noshade="">
                <p class="title">Works</p>
            </div>
        </section>
        <section id="page4">
            <div class="wave">
                <hr width=100% noshade="">
                <p class="title">Contact</p>
            </div>
        </section>
    </body>
</html>