<!DOCTYPE html>
<html>
    <head lang="ja">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="static/style/Special.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <div>
            <p id="title">Special Thanks</p>
            <a href="Home.html" id="triangle"></a>
            <div id="content">
                <h3>BGM</h3>
                <h4>ガラクタ置き場</h4>
                <a href="http://www.hmix.net/"><h4>フリー音楽素材 H/MIX GALLERY</h4></a>
            </div>
        </div>
    </body>
</html>